# Node.js
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-locak.json

# Logs
logs
*.log
*.log.*
lerna-debug.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Build output
dist/
build/
.cache/
.next/
out/
coverage/

# Editor settings
.vscode/
.idea/
*.swp
*.swo
*.DS_Store
Thumbs.db

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Temporary
*.tmp
*.temp

# TypeScript
*.tsbuildinfo

# OS-specific
.DS_Store
